@model Proyecto_Final.Models.HomeViewModel
@{
    ViewData["Title"] = "Products";
}




<div class="container">
    <main role="main" class="pb-3 p-3">
        <div class="mb-2 d-flex justify-content-between">
            <div class="mb-2">
                @foreach (var item in Model.Categories)
                {
                    <span>@item.Name&nbsp;&nbsp;</span>
                }
                <div>
                    <hr />
                    <form asp-action="ViewProducts" method="get">
                <div class="form-actions no-color">
                    <p>
                        Buscar por nombre o categoría: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
                        <input type="submit" value="Buscar" class="btn btn-warning" />
                        <a asp-action="ViewProducts" class="btn btn-success">Ver Todos los Productos</a>
                    </p>
                </div>
            </form>
                </div>
            </div>
            

            <div>
                <h5>Orderar por:</h5>
                <a asp-action="ViewProducts" asp-route-sortOrder="@ViewBag.NameSortParm" class="btn btn-outline-info">Nombre</a>&nbsp;&nbsp;
                <a asp-action="ViewProducts" asp-route-sortOrder="@ViewBag.PriceSortParm" class="btn btn-outline-info">Precio</a>
            </div>
            <div>
        
        @if (Model.Quantity > 0)
        {
            <a class="nav-link text-dark" asp-action="ShowCartAndConfirm">
                <i class="fa fa-shopping-cart"></i>
                <img class=" text-center" src="~/images/cart-shop.png" alt="" width="75" height="60">
                (@Model.Quantity)
            </a>

        }
            </div>
        </div>

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="text-center">
                <h1 class="display-4">Bienvenidos @ViewBag.UserFullName a la administración de ECommerce</h1>
            </div>
        }
        else
        {
            <div style="text-align: center;">
                <div class="text-center rounded-pill div-title">
                    <h2>Productos</h2>
                </div>
                <hr>
            </div>

            @foreach (var group in Model.Products.Select((item, index) => new { Item = item, Index = index })
           .GroupBy(x => x.Index / 4))
            {
                <div class="row p-4" style="text-align: center;">
                    @foreach (var item in group.Select(g => g.Item))
                    {
                        if (item != null)
                        {
                            if (item.Stock < 1)
                            {
                                <div class="col-md-3">
                                    <div class="card zoom shadow-pop-br">
                                        <div class="card_title">@item.Name</div>
                                        <div class="card_body">
                                            <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" class="zoom-2" />
                                            <p class="mt-2">
                                                @item.Description
                                                <h4 class="text-danger">Producto no disponible</h4>
                                            </p>
                                        </div>
                                        <div class="card_foot">
                                            <button asp-action="DetailsProduct" asp-route-productId="@item.Id" class="btn btn-secondary" disabled>Detalles</button>
                                            <button asp-action="AddProductInCart" asp-route-productId="@item.Id" class="btn btn-primary" disabled>Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3 ">
                                    <div class="card zoom shadow-pop-br animation">
                                        <div class="card_title">@item.Name</div>
                                        <div class="card_body">
                                            <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" class="zoom-2" />
                                            <p class="mt-2">
                                                @item.Description
                                                <h4>@Html.DisplayFor(modelItem => item.Price)</h4>
                                            </p>
                                        </div>
                                        <div class="card_foot">
                                            <a asp-action="DetailsProduct" asp-route-productId="@item.Id" class="btn btn-secondary">Detalles</a>
                                            <a asp-action="AddProductInCart" asp-route-productId="@item.Id" class="btn btn-primary">Agregar</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
    </main>
</div>


